<div class='container'>
	<br/>
	<p id="error"><font color=red><%= notice %></font></p>

	<h2>Log In</h2>
	<%= form_for('/login') do |f| %>
		<%= f.label :username %>
		<%= f.text_field :username, placeholder: 'Enter your username' %>

		<%= f.label :password %>
		<%= f.password_field :password, placeholder: 'Enter your password' %>

		<%= f.submit 'Log in' %>
	<% end %>
</div>
