<%= form_tag(@user) do %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h1>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
				<li><font color=red><%= message %></font></li>
      <% end %>
      </ul>
		</div>
  <% end %>

	<div class="actions">
		<%= label_tag :username %>
		<%= text_field_tag 'user[username]', @user.username, placeholder: 'e.g. myusername' %>

		<%= label_tag :name %>
		<%= text_field_tag 'user[name]', @user.name, placeholder: 'e.g. The Beatles' %>

		<%= label_tag :password %>
		<%= password_field_tag 'user[password]', nil %>

		<%= label_tag :confirm_password %>
		<%= password_field_tag :password_confirmation, nil %>

		<%= label_tag :email %>
		<%= text_field_tag 'user[email]', @user.email, placeholder: 'e.g. email@gmail.com' %>

		<%= label_tag :bio %>
		<%= text_area_tag 'user[bio]', @user.bio, placeholder: 'Enter a short bio'%>

		<%= label_tag :genres %>
		<%= text_field_tag 'user[genres]', @user.genres, placeholder: 'e.g. rock, blues, jazz, ...' %>

		<%= label_tag :image, 'Upload a profile picture:'  %>

    <%= submit_tag 'Submit'  %>
  </div>
<% end %>
