<%= form_for(@user, multipart: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h1>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
				<li><font color=red><%= message %></font></li>
      <% end %>
      </ul>
		</div>
  <% end %>

	<div class="actions">
		<%= f.label :username %>
		<%= f.text_field :username, value: @user.username, placeholder: 'e.g. myusername' %>

		<%= f.label :name %>
		<%= f.text_field :name, { value: @user.name, placeholder: 'e.g. The Beatles' } %>

		<%= f.label :password %>
		<%= f.password_field :password, value: nil %>

		<%= f.label :confirm_password %>
		<%= f.password_field :password_confirmation, value: nil %>

		<%= f.label :email %>
		<%= f.text_field :email, { value: @user.email, placeholder: 'e.g. email@gmail.com' } %>

		<%= f.label :bio %>
		<%= f.text_area :bio, { value: @user.bio, placeholder: 'Enter a short bio' } %>

		<%= f.label :genres %>
		<%= f.text_field :genres, { value: @user.genres, placeholder: 'e.g. rock, blues, jazz, ...' } %>

		<%= f.label :image, 'Upload a profile picture:'  %>
		<%= f.file_field :image %>

		<br/><br/>
    <%= f.submit 'Submit'  %>
  </div>
<% end %>
