<div class="container">
	<br/>
	<p id="notice"><font color=green><%= notice %></font></p>
</div>

<div class="row">
	<div class="image">
		<%= image_tag @user.image.url, size: "300x300" %>
	</div>
	<div class="content">
		<h2><%= @user.name %></h2>
		<h5><%= @user.genres %></h5>
		<p><%= @user.bio %></p>
		<% if @user == current_user %>
		<div class="row">
			<%= link_to 'Edit', edit_user_path(@user), class: :button %>
			<%= button_to 'Delete My Profile', @user, { method: :delete, data: { confirm: 'Are you sure?' } } %>
		</div>
		<% end %>
	</div>
</div>

<div class="container">
	<% if @user == current_user %>
	<div class="row">
		<%= button_to 'New Sound', new_user_sound_path(current_user), method: :get %>
		<%= button_to 'New Playlist', new_user_playlist_path(current_user), method: :get %>
		<%= button_to 'New Story', new_user_story_path(current_user), method: :get %>
		<%= button_to 'New Event', new_user_event_path(current_user), method: :get %>
	</div>
	<% end %>

	<div class="row">
		<%= button_to 'Sounds', user_sounds_path(@user), { method: :get, class: (request.env['PATH_INFO'].end_with?('sounds') ? :'button special' : :'button alt') } %>
		<%= button_to 'Playlists', user_playlists_path(@user), { method: :get, class: (request.env['PATH_INFO'].end_with?('playlists') ? :'button special' : :'button alt') } %>
		<%= button_to 'News', user_stories_path(@user), { method: :get, class: (request.env['PATH_INFO'].end_with?('stories') ? :'button special' : :'button alt') } %>
		<%= button_to 'Calendar', user_events_path(@user), { method: :get, class: (request.env['PATH_INFO'].end_with?('events') ? :'button special' : :'button alt') } %>
	</div>

	<% if (defined? content) %>
		<%= render content %>
	<% end %>
</div>

