<div class="container">
	<br/>
	<p id="notice"><font color=green><%= notice %></font></p>

	<%= image_tag @user.image.url %>
	<h2><%= @user.name %></h2>
	<h5><%= @user.genres %></h5>
	<p><%= @user.bio %></p>
	
	<% if @user == current_user %>
		<a href=<%= edit_user_path %> class="button">Edit</a><br/><br/>
	<% end %>
</div>
