<!DOCTYPE HTML>
<html>
	<body class='landing'>
		<!-- Banner -->
			<section id="banner">
				<i class="icon fa-diamond"></i>
				<h2>Party Cat Records</h2>
				<p>Philadelphia</p>
				<!--
				<ul class="actions">
					<li><a href="#" class="button big special">Learn More</a></li>
				</ul>
				-->
			</section>

			<div class='container'>
				<br/>
				<p id='notice'><font color=green><%= notice %></font></p>
			</div>

			<section id="artists" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Featured Artists</h2>
						<!--<p>These are our featured artists</p>-->
					</header>
					<div class="image-grid">
						<% @users.each do |user| %>
							<a href='<%= user_path(user) %>' class="image"><img src="<%= user.image.url %>"/></a>
						<% end %>
					</div>
					<ul class="actions">
						<li><a href="/users" class="button big alt">Browse All Artists</a></li>
					</ul>
				</div>
			</section>

			<section id="sounds" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Featured Sounds</h2>
						<!--<p>These are our featured sounds</p>-->
					</header>
					<div class="image-grid">
						<% @sounds.each do |sound| %>
							<a href='<%= user_sound_path(sound.user.id, sound.id) %>' class="image"><img src="<%= sound.image.url %>"/></a>
						<% end %>
					</div>
					<ul class="actions">
						<li><a href="/sounds" class="button big alt">Browse All Sounds</a></li>
					</ul>
				</div>
			</section>

			<section id="playlists" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Featured Playlists</h2>
						<!--<p>These are our featured playlists</p>-->
					</header>
					<div class="image-grid">
						<% @playlists.each do |playlist| %>
							<a href='<%= user_playlist_path(playlist.user.id, playlist.id) %>' class="image"><img src="<%= playlist.image.url %>"/></a>
						<% end %>
					</div>
					<ul class="actions">
						<li><a href="/playlists" class="button big alt">Browse All Playlists</a></li>
					</ul>
				</div>
			</section>

	</body>
</html>
