<% if @event.id %>
	<% verb = :patch %>
	<% route = user_event_path(@event.user.id, @event.id) %>
<% else %>
	<% verb = :post %>
	<% route = user_events_path(current_user) %>
<% end %>

<%= form_for(:event, { method: verb, url: route }) do |f| %>
  <% if @event.errors.any? %>
  <div id="error_explanation">
		<ul>
    <% @event.errors.full_messages.each do |message| %>
			<li><font color=red><%= message %></font></li>
    <% end %>
    </ul>
	</div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>
    <%= f.text_field :name, value: @event.name, placeholder: 'Name your event:' %>

		<%= f.label :image, 'Upload an image with this event (optional):'	%>
    <%= f.file_field :image %>

		<%= f.label :location %>
		<%= f.text_field :location, value: @event.location, placeholder: 'Where will this event take place?' %>

		<div class="row">
			<%= f.label :start_datetime, 'Starting time:' %>
			<%= f.datetime_select :start_datetime, { default: @event.start_datetime, start_year: Date.current.year }, { style: :'width:auto' } %>
		</div>

		<div class="row">
			<%= f.label :end_datetime, 'Ending time:' %>
			<%= f.datetime_select :end_datetime, { default: @event.end_datetime, include_blank: true, start_year: Date.current.year }, { style: :'width:auto' } %>
		</div>

    <%= f.label :description %>
    <%= f.text_area :description, value: @event.description, placeholder: 'Describe this event:' %>

		<br/><br/>
    <%= f.submit 'Save Event' %>
  </div>
<% end %>
