<% if @story.id %>
	<% verb = :patch %>
	<% route = user_story_path(@story.user.id, @story.id) %>
<% else %>
	<% verb = :post %>
	<% route = user_stories_path(current_user) %>
<% end %>

<%= form_for(:story, { method: verb, url: route }) do |f| %>
  <% if @story.errors.any? %>
  <div id="error_explanation">
		<ul>
    <% @story.errors.full_messages.each do |message| %>
			<li><font color=red><%= message %></font></li>
    <% end %>
    </ul>
	</div>
  <% end %>

  <div class="actions">
    <%= f.label :headline %>
    <%= f.text_field :headline, value: @story.headline, placeholder: "Enter your story's headline here" %>

		<%= f.label :image, 'Upload an image with this story (optional):'	%>
    <%= f.file_field :image %>

		<%= f.text_area :body, value: @story.body, placeholder: "Enter your story here" %>

		<br/><br/>
    <%= f.submit 'Save Story' %>
  </div>
<% end %>
