<div class="container">
	<p id="notice"><%= notice %></p>
</div>

<div class="container">
	<h2>All Stories</h2>

	<table style="table-layout:fixed">
		<thead>
			<tr>
				<th></th>
				<th style="text-align:center">Date</th>
				<th style="text-align:center">Author</th>
				<th style="text-align:center">Headline</th>
			</tr>
		</thead>
		<tbody>
		<% @stories.each do |story| %>
			<tr>
				<td><%= image_tag story.image.url, size: "80x80" %></td>
				<td align="center" style="vertical-align:middle"><%= story.created_at %></td>
				<td align="center" style="vertical-align:middle"><%= link_to "#{story.user.name}", user_path(story.user) %></td>
				<td align="center" style="vertical-align:middle">
					<%= link_to "#{story.headline}", user_story_path(story.user.id, story.id) %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
