<% if @sound.id %>
	<% verb = :patch %>
	<% route = user_sound_path(@sound.user.id, @sound.id) %>
<% else %>
	<% verb = :post %>
	<% route = user_sounds_path(current_user) %>
<% end %>

<%= form_for(:sound, { method: verb, url: route }) do |f| %>
  <% if @sound.errors.any? %>
  <div id="error_explanation">
		<ul>
    <% @sound.errors.full_messages.each do |message| %>
			<li><font color=red><%= message %></font></li>
    <% end %>
    </ul>
	</div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>
    <%= f.text_field :name, value: @sound.name, placeholder: 'Name your sound:' %>

    <%= f.label :audio, 'Upload your sound:'  %>
		<%= f.file_field :audio %>

		<br/><br/>
		<%= f.label :image, 'Upload an image with this sound (optional):'	%>
    <%= f.file_field :image %>

    <%= f.label :genre, 'Genre(s):' %>
    <%= f.text_field :genre, value: @sound.name, placeholder: 'e.g. rock, blues, jazz, ...' %>

    <%= f.label :description %>
    <%= f.text_area :description, value: @sound.description, placeholder: 'Describe this sound:' %>

		<br/><br/>
    <%= f.submit 'Save Sound' %>
  </div>
<% end %>
