<div class="container">
	<p id="notice"><%= notice %></p>
</div>

<div class="container">
	<h2>All Sounds</h2>
	<table>
		<thead>
			<tr>
				<th></th>
				<th style="text-align:center">Sound</th>
				<th>Artist</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
		<% @sounds.each do |sound| %>
			<tr>
				<td><%= image_tag sound.image.url, size: "80x80" %></td>
				<td align="center" style="vertical-align:middle">
					<%= link_to "#{sound.name}", user_sound_path(sound.user.id, sound.id) %><br/>
					<audio preload="none" controls><source src="<%= sound.audio.url %>"/></audio>
				</td>
				<td style="vertical-align:middle"><%= link_to "#{sound.user.name}", sound.user %></td>
				<td style="vertical-align:middle"><%= sound.description %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
