<div class="container">
	<br/>
	<p id="notice"><font color=green><%= notice %></font></p>
</div>

<div class="row">
	<div class="image">
		<%= image_tag @sound.image.url %>
	</div>
	<div class="content">
		<h2>"<%= @sound.name %>" by <%= link_to "#{@sound.user.name}", user_path(@sound.user) %> </h2>
		<h5><%= @sound.genre %></h5>
		<audio preload="auto" controls><source src="<%= @sound.audio.url %>"/></audio>
		<p><%= @sound.description %></p>
		<% if @sound.user == current_user %>
		<div class="row">
			<%= link_to 'Edit', edit_user_sound_path(@sound.user.id, @sound.id), class: :button %>
			<%= button_to 'Delete This Sound', user_sound_path, { method: :delete, class: 'button special', data: { confirm: 'Are you sure?' } } %>
		</div>
		<% end %>
	</div>
</div>
