<div class="container">
	<p id="notice"><%= notice %></p>
</div>

<div class="container">
	<h2>All Playlists</h2>

	<table style="table-layout:fixed">
		<col style="width:10%"/>
		<col style="width:30%"/>
		<col style="width:20%"/>
		<col style="width:40%"/>
		<thead>
			<tr>
				<th></th>
				<th style="text-align:center">Playlist</th>
				<th style="text-align:center">Owner</th>
				<th style="text-align:center">Description</th>
			</tr>
		</thead>
		<tbody>
		<% @playlists.each do |playlist| %>
			<tr>
				<td><%= image_tag playlist.image.url, size: "80x80" %></td>
				<td align="center" style="vertical-align:middle">
					<%= link_to "#{playlist.name}", user_playlist_path(playlist.user.id, playlist.id) %><br/>
				</td>
				<td style="vertical-align:middle; text-align:center"><%= link_to "#{playlist.user.name}", playlist.user %></td>
				<td style="vertical-align:middle; word-wrap:break-word"><%= playlist.description %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
