<!DOCTYPE html>
<html>
	<head>
  	<title>Party Cat Records</title>
  	<link rel='stylesheet' href='/assets/css/main.css'/>
  	<%= csrf_meta_tags %>
	</head>

	<body>
		<%= render 'layouts/header' %>
		<%= render 'layouts/nav' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</body>
</html>
